<template>
    <div class="card">
        <img class="card-img-top" :src="product.image" :alt="product.name">
        <div class="card-body">
            <h5 class="product-title">{{product.title}}</h5>
            <p class="card-text">{{product.excerpt}}</p>
            <span class="text-danger font-weight-bold">Published: {{product.published_at}}</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Product",
        props: ['product']
    }
</script>

<style scoped>
    .card {
        cursor: pointer;
        margin-bottom: 8px;
    }
</style>
